/node_modules
/public/storage
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.phpintel
npm-debug.log
/.phpcomplete_extended
.env.testing
.env.dusk.local
docker.env
/storage/framework/testing
.vscode
/storage/*.index
.DS_Store
.phpunit.result.cache
*.swp
.php_cs.cache
