// -----------
// Base color
// -----------
$base-color: #08b7ce;
$base-color-darker: #099fb3;
$base-color-lighter: #0dcee7;
$accent-color: #f97d48;
$gray-darker:  hsl(0, 0%, 21%);
$gray-dark:    hsl(0, 0%, 29%);
$gray:         hsl(0, 0%, 48%);
$gray-light:   hsl(0, 0%, 71%);
$gray-lighter: hsl(0, 0%, 97%);

// -----------
// Link colors
// -----------
$link: $base-color-lighter !default;
$link-invert: findColorInvert($base-color-lighter) !default;

// -----------
// Typography
// -----------
$font-family-sans-serif: "Railway", sans-serif;

// Override Bulma variables
$family-primary: $font-family-sans-serif;
$text-light: #ffffff;
$body-background: $gray-lighter;
