body {
    padding-bottom: 25px;
}

nav, .nav {
    margin-bottom: 30px;
    background-color: $base-color;
    a {
        font-weight: 700;
        font-size: $size-5;
    }
}

.card {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2) !important;
}

.is-base {
    background-color: $base-color;
    color: $white;
}

.is-base-darker {
    background-color: $base-color-darker;
}

.is-base-lighter {
    background-color: $base-color-lighter;
}

.is-accent {
    background-color: $accent-color;
    color: $white;
}

.button.is-base.is-outlined {
    background-color: transparent;
    border-color: $base-color;
    color: $base-color;
}

.button.is-base.is-inverted {
    background-color: #fff;
    color: $base-color;
}

.card {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
}

.justified .card-content {
    min-height: 125px;
    max-height: 125px;
    overflow-y: auto;
}

.card .card-content-item {
    @extend .card-content;
    .icon, .a {
        margin-right: .5rem;
    }
}

.card .card-content-item:not(:last-child) {
    border-bottom: 1px solid hsla(187, 93%, 56%, 0.2);
}

//Login From
.login-form{
    padding-top: 25vh;
}

//Nav Right Dropdown Menu
ul.sub-nav-item {
    position: absolute;
    top: 100%;
    width: 190px;
    background-color: $base-color;
    right: 0;
    text-align: left;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1);
    border-top: 1px solid $gray-lighter;
    li.separator-menu{
        border-top: 1px solid $gray-lighter;
    }
    a{
        color: $text-light;
        display: block;
        font-size: 1.2rem;
        padding: 5px 5px 6px 12px;
        &:hover{
            background-color: $base-color-darker;
        }
    }
}

.avatar-link{
    img{
        border-radius: 50%;
        margin-right: 10px;
        border: 1px solid $base-color-darker;
        width: 25px;
        height: 25px;
    }

    i{
        margin-left: 8px;
        margin-top: 1px;
    }
} 

a.avatar-link:hover {
    border: 0 none;
}

//Task Board 
.taskboard-media{
    a{
        align-items: center;
        display: flex;
        width: 100%;
    }
    img{
        border-radius: 50%;
    }
    .media-left{
        margin-right: 0.6rem;
        max-width: 34px;
    }
    .media-content{
        background-color: #f7f7f7;
        padding: 3px 6px 5px;
    }
    p {
        line-height: 1.1;
        span{
            font-size: 0.9rem;
        }
        strong{
            font-size: 0.8rem;
        }
        small {
            font-size: 0.7em;
        }
    }
    .image i{
        font-size: 1.7rem;
        color: $gray-darker;
    }
}
